.section-content .programAdd {
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-block;
}

.section-content .c1 {
  background: #000;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 70px;
}

.section-content .c1 p {
  color: grey;
}

.section-content .c1 li {
  list-style-type: none;
  margin-bottom: 5px;
}

.section-content .c1 input {
  height: 50px;
  font-size: 1.05rem;
  font-family: "Roboto", sans-serif;
  color: rgb(48, 48, 48);
  width: 350px;
  padding-left: 5px;
  border-radius: 5px;
}

.section-content .c1 span {
  font-size: 2rem;
  color: antiquewhite;
  margin-left: 5px;
}

.section-content .c1 img {
  margin-bottom: 15px;
}

.section-content .c1 p {
  font-size: 0.7rem;
}

.section-content .c2 {
  padding-top: 30px;
  background: rgb(36, 36, 36);
}

.section-content .c2 li {
  list-style-type: none;
  margin-bottom: 5px;
}

.section-content .c2 .text {
  height: 250px;
  width: 650px;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  color: rgb(48, 48, 48);
  padding-left: 5px;
  border-radius: 5px;
}

.section-content .c2 .news {
  height: 200px;
  width: 650px;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  color: rgb(48, 48, 48);
  padding-left: 5px;
  border-radius: 5px;
}

.section-content .c2 input {
  height: 50px;
  font-size: 1.05rem;
  font-family: "Roboto", sans-serif;
  color: rgb(48, 48, 48);
  width: 350px;
  padding-left: 5px;
  border-radius: 5px;
}

.section-content .c2 .inputNum {
  height: 50px;
  font-size: 1.05rem;
  font-family: "Roboto", sans-serif;
  color: rgb(48, 48, 48);
  width: 50px;
  padding-left: 5px;
  border-radius: 5px;
  text-align: center;
  margin-left: 5px;
}

.section-content .c2 .selcetType {
  width: 150px;
  height: 50px;
  margin-left: 5px;
  border-radius: 5px;
  color: rgb(48, 48, 48);
  font-size: 1.05rem;
  font-family: "Roboto", sans-serif;
}

.section-content .c1 .selcetType {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  color: rgb(48, 48, 48);
  font-size: 1.05rem;
  font-family: "Roboto", sans-serif;
}

.section-content .c2 .btnDel {
  margin-left: 25px;
}

.section-content .c2 .btnEdit {
  margin-left: 10px;
}

.section-content .c2 .btnAdd {
  margin-left: 0px;
}

.section-login .login-form {
  height: 450px;
  width: 450px;
  margin: 0 auto;
  margin-top: 200px;
}

.section-login .login-form input {
  width: 250px;
  margin-bottom: 10px;
  height: 50px;
  background-color: white;
  padding-left: 2px;
  margin-left: 5px;
}

.section-login .login-form button {
  position: relative;
  height: 35px;
  background-color: white;
  width: 80px;
  left: 230px;
}

.section-login .login-form ul {
  list-style: none;
}
