.section-most {
  background: #0173ef;
  margin-top: 10px;
}

.section-most .games-content {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
}

.section-most .games-content .games-gard {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: -6px;
  margin-left: 15px;
  height: 300px;
  width: 210px;
  background: white;
  border-radius: 0.5px;
}

.section-most .games-content .games-gard .games-image {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  top: 5px;
  padding-top: 0px;
  margin-bottom: 0px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.03),
    0 0 0 2px rgba(58, 58, 58, 0.993), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  height: 300px;
}

.section-most .games-content .games-gard .games-image img {
  display: inline-block;
  height: 300px;
  width: 210px;
}

.section-most .games-content .games-gard .games-image i {
  font-weight: 500;
  font-size: 0.75rem;
  color: grey;
  left: -60px;
  top: -22.5px;
  position: relative;
}

.section-most .games-content .games-gard:hover {
  transform: scale(1.1);
}

.section-most .games-content .next-more {
  position: relative;
  padding-left: 90%;
}

.section-most .games-content .next-more i {
  color: white;
  border-width: 30px;
  font-size: 3rem;
}

.section-most .games-content .next-more i:hover {
  transform: scale(1.2);
}

.section-most .games-content .games-gard .games-image p {
  position: absolute;
  display: none;
  background: black;
  color: white;
  width: 214px;
  left: -2px;
  margin-top: -320px;
  border-radius: 2px;
  font-family: "roboto", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  height: 35px;
  text-align: center;
  padding: 7.5px;
  border-width: 1px;
  border-color: rgb(29, 29, 29);
  border-style: solid;
}

.section-most .games-content .games-gard:hover p {
  display: inline-block;
  margin-top: -335px;
}

.section-most .games-content .paginationBox {
  display: table;
  margin: 0 auto;
}
.section-most .games-content .paginationBox li {
  color: #2085f1;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

.section-games-hit {
  background: white;
  margin-top: 10px;
}

.section-games-hit .games-hit-content {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 700px;
  overflow: hidden;
}

.section-games-hit .games-hit-content .games-gard {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  height: 200px;
  width: 150px;
  background: white;
  border-radius: 0.5px;
}

.section-games-hit .games-hit-content .games-gard .games-image {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  top: 5px;
  padding-top: 0px;
  margin-bottom: 0px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.02),
    0 0 0 2px rgba(58, 58, 58, 0.993), 0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
  height: 200px;
}

.section-games-hit .games-hit-content .games-gard .games-image img {
  display: inline-block;
  height: 200px;
  width: 150px;
}

.section-games-hit .games-hit-content .games-gard .games-image i {
  font-weight: 500;
  font-size: 0.75rem;
  color: grey;
  left: -40px;
  top: -22.5px;
  position: relative;
}

.section-games-hit .games-hit-content .games-gard:hover {
  transform: scale(1.1);
}

.section-games-hit .games-hit-content .next-more {
  position: relative;
  padding-left: 90%;
}

.section-games-hit .games-hit-content .next-more i {
  color: white;
  border-width: 30px;
  font-size: 3rem;
}

.section-games-hit .games-hit-content .next-more i:hover {
  transform: scale(1.2);
}

.section-games-hit .hit-label {
  padding-top: 20px;
  left: 50px;
  position: absolute;
  font-size: 1.05rem;
  font-family: "roboto", sans-serif;
  color: rgb(107, 107, 107);
}

.section-games-hit .games-hit-content {
  padding-top: 35px;
}

.section-most .game-label {
  padding-top: 30px;
  left: 50px;
  position: absolute;
  font-size: 1.05rem;
  font-family: "roboto", sans-serif;
  color: white;
}

.section-most .pagination-games {
  display: inline-block;
}

.list-group-game-game {
  margin-top: 5px;
}

.list-more {
  margin-top: 30px;
}

.list-more .label-group {
  color: rgb(95, 95, 95);
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}

.label-games {
  color: rgb(95, 95, 95);
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  padding-top: 30px;
}

.list-more .list-group-game .list-content .list-image img {
  margin-left: -10px;
  margin-right: 25px;
  height: 30px;
  width: 30px;
}

.list-more .list-group-game .list-content .list-text span {
  color: rgb(92, 92, 92);
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  margin-top: -10px;
  margin-left: 10px;
}

.list-more .list-group-game p {
  color: rgb(92, 91, 91);
  font-size: 0.8rem;
  padding-top: 2.5px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.list-more .list-group-game .list-content {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: -5px;
  margin-bottom: -15px;
  margin-right: -30px;
  height: 50px;
}

.list-more .list-group-game .list-content .list-text {
  box-sizing: border-box;
  display: inline-block;
  width: 90%;
  margin-left: 10px;
  margin-bottom: 0px;
}

.list-more .list-group-game .list-content .list-image {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 0;
  position: absolute;
  margin-bottom: 0px;
  left: 3px;
}

.list-more .list-group-game a {
  height: 50px;
}

.list-cate-content {
  margin-bottom: 0px;
  height: 50px;
  overflow: hidden;
  margin-bottom: -1px;
}

.list-more .choose {
  background: #0173ef;
  color: white;
}

.list-more .choose span {
  color: white;
}

.section-games-hit .side-bar .games-gard {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  height: 200px;
  width: 150px;
  background: white;
  border-radius: 0.5px;
  position: absolute;
  left: -30px;
  margin-top: 140px;
}

.section-games-hit .side-bar .games-gard .games-image {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  top: 5px;
  padding-top: 0px;
  margin-bottom: 0px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.03),
    0 0 0 2px rgba(58, 58, 58, 0.993), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  height: 200px;
}

.section-games-hit .side-bar .games-gard .games-image img {
  display: inline-block;
  height: 200px;
  width: 150px;
}

.section-games-hit .side-bar .games-gard .games-image i {
  font-weight: 500;
  font-size: 0.75rem;
  color: grey;
  left: 0px;
  top: -22.5px;
  position: relative;
}

.section-games-hit .side-bar .games-gard:hover {
  transform: scale(1.1);
}

.section-games-hit .side-bar .games-gard:hover p {
  height: auto;
  overflow-y: visible;
  bottom: -20px;
  padding: 5px;
  border-radius: 5px;
}

.section-games-hit .side-bar .games-gard p {
  position: absolute;
  bottom: -18px;
  color: black;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  height: 2em;
  overflow-y: hidden;
  background: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  left: 130px;
  border-width: 1px;
  border-color: rgb(29, 29, 29);
  border-style: solid;
}

.section-game-content {
  background: #000;
}

.section-game-content .media .video {
  width: 100%;
  height: 400px;
}

.section-game-content .content .video {
  width: 100%;
  height: 400px;
  overflow: hidden;
  justify-content: space-between;
  display: inline-block;
}

.section-game-content .media .video iframe {
  border: none;
}

.section-game-content .media .video p {
  position: absolute;
  color: black;
  background: white;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  border-radius: 5px;
  font-family: "roboto", sans-serif;
  font-size: 0.7rem;
}

.section-game-content .content .games-gard {
  justify-content: space-betweens;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 25px;
  margin-left: 30px;
  height: 350px;
  width: 285px;
  background: white;
  border-radius: 2px;
}

.section-game-content .content .games-gard .games-image {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  top: 5px;
  padding-top: 0px;
  margin-bottom: 0px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.03),
    0 0 0 2px rgba(58, 58, 58, 0.993), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  height: 350px;
  border-radius: 2px;
}

.section-game-content .content .games-gard .games-image img {
  display: inline-block;
  height: 350px;
  width: 285px;
}

.section-game-content .content .games-gard .games-image h2 {
  background: white;
  position: absolute;
  padding: 5px;
  border-radius: 3px;
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  margin-left: -2px;
}
.section-game-content .content .info {
  position: absolute;
  top: 25px;
  left: 310px;
  justify-content: space-between;
  display: inline-block;
}

.section-game-content .content .info img {
  width: 25px;
  height: 25px;
}

.section-game-content .content .info li {
  list-style-type: none;
}

.section-game-content .content .info p {
  font-family: "roboto", sans-serif;
  font-size: 0.75rem;
  margin-left: 25px;
  margin-top: -25px;
  color: rgb(121, 121, 121);
}

.section-game-content .content .info i {
  color: rgb(134, 134, 134);
  border-width: 2rem;
}

.section-game-content .content .info a {
  font-family: "roboto", sans-serif;
  font-size: 0.9rem;
}

.section-game-content2 {
  background: #000;
}

.section-game-content2 .media {
  margin-top: 50px;
  width: 100%;
  height: 350px;
}

.section-game-content2 .media .carousel {
  left: -15px;
  width: 100%;
}

.section-game-content2 .media p {
  position: absolute;
  color: black;
  background: white;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  border-radius: 5px;
  font-family: "roboto", sans-serif;
  font-size: 0.7rem;
  margin-top: -25px;
}

.section-game-content2 .contents {
  margin-top: 50px;
}

.section-game-content2 .contents .content {
  display: inline-block;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
  bottom: 60x;
  left: 43px;
  padding-bottom: 35px;
  width: 700px;
}

.section-game-content2 .contents .content p {
  left: 43px;
  color: rgb(153, 152, 152);
  font-family: "roboto", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  display: inline;
}

.section-game-content2 .contents .content p b {
  font-size: 1.1rem;
}

.section-game-content2 .contents .download {
  margin-top: 0;
  height: 300px;
  width: 95%;
  border-width: 1px;
  border-color: rgb(22, 22, 22);
  border-style: solid;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-left: -15px;
}

.section-game-content2 .contents .download h1 {
  background: white;
  position: absolute;
  padding: 5px;
  border-radius: 3px;
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  left: 43px;
  margin-top: -20px;
}

.section-game-content2 .contents .download ul {
  padding-top: 40px;
  list-style-type: none;
}

.section-game-content2 .contents .download .part {
  padding-top: 30px;
}

.section-game-content2 .contents .download .one-part sub {
  position: absolute;
  color: gray;
  margin-bottom: 270px;
}

.section-game-content2 .contents .download .one-part i {
  padding: 3px;
}

.section-game-content2 .contents .download .part sub {
  position: absolute;
  color: gray;
  margin-bottom: 210px;
}

.section-game-content2 .contents .download .part button {
  margin-bottom: 7.5px;
  margin-right: 2.5px;
}

.section-game-content2 .contents .download .crack {
  padding-top: 30px;
}

.section-game-content2 .contents .download .part i {
  padding: 3px;
}

.section-game-content2 .contents .download .crack i {
  padding: 3px;
}

.section-game-content .phone {
  display: none;
}

.section-game-content2 .phone {
  display: none;
}

.section-game-content2 .contents .tags .tag {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  color: grey;
  position: absolute;
  margin-left: 25px;
}

.section-game-content2 .contents .tags p {
  font-size: 0.8rem;
  font-family: "roboto", sans-serif;
}
.section-game-content2 .contents .tags .tagArr{
  margin-left: 60px;
  margin-top: 20px;
}

.section-game-content2 .contents .tags a {
  margin-left: 5px;
}

@media (max-width: 800px) {
  .section-games-hit .side-bar {
    display: none;
  }
  .section-game-content .media .video {
    display: none;
  }
  .section-game-content2 .contents .download ul {
    padding-top: 60px;
    list-style-type: none;
  }
  .section-game-content2 .contents .download .one-part sub {
    position: absolute;
    color: gray;
    margin-bottom: 250px;
  }
  .section-game-content2 .contents .download .part sub {
    position: absolute;
    color: gray;
    margin-bottom: 190px;
  }
  .section-game-content .media {
    display: none;
  }
  .section-game-content .desktop {
    display: none;
  }
  .section-game-content .phone {
    display: block;
  }
  .section-game-content2 .desktop {
    display: none;
  }
  .section-game-content2 .phone {
    display: block;
  }
  .section-game-content .content .info {
    position: relative;
    top: 50px;
    left: 0px;
    justify-content: space-between;
    display: inline-block;
    margin-bottom: 50px;
  }
  .section-game-content2 .media {
    margin-left: 15px;
  }
  .section-game-content2 .contents .content p {
    color: rgb(153, 152, 152);
    font-family: "roboto", sans-serif;
    font-size: 0.9rem;
    margin-bottom: 60px;
  }
}

@media (max-width: 500px) {
  .section-game-content2 .contents .content p {
    color: rgb(153, 152, 152);
    font-family: "roboto", sans-serif;
    font-size: 0.9rem;
    top: 0px;
    left: 0px;
    position: relative;
  }
  .section-game-content2 .contents .content {
    width: 350px;
    margin-left: -22.5px;
  }
  .section-game-content2 .media {
    margin-left: 15px;
    margin-bottom: -170px;
    width: 100%;
  }
}
